[submodule "vendor/nng"]
	path = vendor/nng
	url = https://github.com/nanomsg/nng.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/tomlplusplus"]
	path = vendor/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest.git
[submodule "vendor/gflags"]
	path = vendor/gflags
	url = https://github.com/gflags/gflags.git
[submodule "vendor/mysql-connector-cpp"]
	path = vendor/mysql-connector-cpp
	url = https://github.com/mysql/mysql-connector-cpp.git
[submodule "vendor/mongo-cxx-driver"]
	path = vendor/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
